*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --margin: 110px;
    --background: #e2e2f5;
    --perspective: 1800px;
    --transition: transform 1s 0.2s, z-index 0s 0.5s;
    --yellow: #ffce14;
  }
/*< ----------------------------  Loading ------------------------------- >*/

.loading-text{
    font-size: 30px;
    text-align: center;
}
.backgroung-img{
    /* background-image: url(../src/Component/asset/img/Main/website_background.png); */
    width: 20%;
    height: 100vh;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}